@using Abp.Web.Mvc.Extensions
@using USER = Manager.Core.Configuration.Users.User
@model Manager.Web.Models.Account.ForgotPassword.ForgotPasswordViewModel

@section Styles
{
    @Html.IncludeStyle("~/Content/css/Account/ForgotPassword.min.css")
}

@section Scripts
{
    <script type="text/javascript">

        SITE.AREA.ACCOUNT = {
            RESETPASSWORD : {
                validation: {
                    getRules: function () {
                        return {
                            Password_MaxLength: "@USER.MaxPlainPasswordLength",
                            Password_MinLength: "@USER.MinPlainPasswordLength"
                        }
                    }
                }
            }
        }

    </script>

    @Html.IncludeScript("~/Content/scripts/Account/ForgotPassword.min.js")
}

<!-- START ForgotPasswordBGEffectArea -->
<div id="ForgotPasswordBGEffectArea">
    <div id="particles-js"></div>
</div>
<!-- END ForgotPasswordBGEffectArea -->

<!-- START ForgotPasswordArea -->
<div id="ForgotPasswordArea">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form id="ForgotPasswordForm" class="form-horizontal">
                    <fieldset>
                        <legend>@L("ACCOUNT.PleasEnterYourNewPassword")</legend>

                        <input type="hidden" name="ForgotPasswordUserId" class="form-control" id="ForgotPasswordUserIdInput" value="@Model.UserId">
                        <input type="hidden" name="ForgotPasswordResetCode" class="form-control" id="ForgotPasswordResetCodeInput" value="@Model.PasswordResetCode">

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" name="ForgotPassword" class="form-control" id="ForgotPasswordInput" placeholder="@L("ACCOUNT.Password")" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" name="ForgotPasswordRepeat" class="form-control" id="ForgotPasswordRepeatInput" placeholder="@L("ACCOUNT.PasswordRepeat")" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button id="ForgotPasswordButton" type="submit" class="btn btn-primary pull-right"><i class="fa fa-sign-in"></i> @L("ACCOUNT.Send")</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END ForgotPasswordArea -->





